name: Greetings

on: [issues]

jobs:
  greeting:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
    - uses: actions/first-interaction@v3
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        issue-message: "Vielen Dankk f端r deinen ersten Bug-Report. Wir versuchen die Meldung zeitnahe zu pr端fen. Many thanks for your first bug report. We'll try to respond quickly. "
        pr-message: "Vielen Dankk f端r deinen PR. Wir versuchen Deinen Code zeitnahe zu pr端fen. Many thanks for your first pr. We'll try to respond quickly."
